.tori {
  text-align: center;
  border: 1px solid red;
}

.row {
  margin-bottom: 10px;
}

.row:first-child {
  margin-bottom: 20px; 
}

.row input[type="text"] {
  width: 350px; 
  margin-right: 15px;
}

.row select {
  margin-right: 10px;
  width: 200px;
}

.row button {
  margin-left: 10px;
}
